.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--color-surface);

    padding: 1em 2em;
    border-bottom: 2px solid var(--color-border);
}

.header h1 {
    color: var(--color-primary);
    text-shadow: var(--shadow-text);
}

.header img {
    height: 3rem;
    width: 3rem;
}
