.component__select {
    position: relative;

    height: 3.5rem;

    &,
    & * {
        transition: all 0.3s ease;
    }

    &.--no-icon > select {
        padding: 0.5em 1em !important;
    }

    &:hover > * {
        color: var(--color-text);
        border-color: var(--color-text);
    }

    &:has(select:focus) select {
        color: var(--color-text);

        border-color: var(--color-primary);
        box-shadow: var(--shadow-element);
    }

    &:has(select:focus) svg {
        color: var(--color-primary);
    }
}

.component__select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    cursor: pointer;

    background-color: var(--color-background);
    color: var(--color-text-muted);

    height: 100%;
    width: 100%;

    padding: 0.5em 1em 0.5em 3.5em;

    outline: none;

    border: 2px solid var(--color-border);
    border-radius: var(--radius-inner);

    font-size: 1rem;
}

.component__select::-ms-expand {
    display: none;
}

.component__select svg {
    pointer-events: none;

    position: absolute;
    top: 50%;
    left: 1rem;

    transform: translateY(-50%);

    color: var(--color-text-muted);
}
