<!--
COPY PASTE NYO LNG UNG IBA'T IBANG FORMAT NA KAILANGAN NYO SA SYSTEM
THEN STYLE NYO NG SARILI NYO IF NALILIITAN OR NALALAKIHAN KAYO

[ SYNTAX ================================================== ]

kopyahin nyo nalng then palitan nyo accordingly sa needs nyo

[ NOTE ================================================== ]

hindi ko made designan ung dropdown menu dahil limited lng sa native
html so... tiis tiis
-->

<!-- *** SELECT *** -->
<select class="component__select" name="PANGALAN-NG-INPUT">
    <option value="OPTION">OPTION NYO</option>
    <!-- Dagdagan nyo nalng ng option -->
</select>
