<!--
COPY PASTE NYO LNG UNG IBA'T IBANG FORMAT NA KAILANGAN NYO SA SYSTEM
THEN STYLE NYO NG SARILI NYO IF NALILIITAN OR NALALAKIHAN KAYO

[ SYNTAX ================================================== ]

<div class="component__select --{type}" />

ung div ung papangalanan nyo hindi ung input

type = no-icon

pwede mo nang i remove ung svg kapag nag --no-icon ka para
hindi ma clutter ung html

[ NOTE ================================================== ]

hindi ko made designan ung dropdown menu dahil limited lng sa native
html so... tiis tiis
-->

<!-- *** SELECT *** -->
<div class="component__select">
    <svg>
        <use href="./icons.svg#placeholder"></use>
    </svg>

    <select name="NAME-NG-INPUT-NYO">
        <option value="none">Dropdown</option>
        <!-- OPTION NYO -->
    </select>
</div>

<!-- *** SELECT NO ICON *** -->
<div class="component__select --no-icon">
    <select name="NAME-NG-INPUT-NYO">
        <option value="none">Dropdown No Icon</option>
        <!-- OPTION NYO -->
    </select>
</div>
