<!--
COPY PASTE NYO LNG UNG IBA'T IBANG FORMAT NA KAILANGAN NYO SA SYSTEM
THEN STYLE NYO NG SARILI NYO IF NALILIITAN OR NALALAKIHAN KAYO

[ SYNTAX ================================================== ]

kopyahin nyo nalng then palitan nyo accordingly sa needs nyo
speaking of copy as in copy nyo lng yan, then palitan nyo
lng ung name ng select

[ NOTE ================================================== ]

ung values nila is automatically handled ng js so... tingnan
nyo nalng sa code. Hindi ko rin gets ung code
-->

<div class="component__pagination">
    <section class="component__pagination-button">
        <!-- Tatawagin from the pagination.js -->
    </section>

    <section class="component__pagination-page">
        <span>Showing page</span>
        <select class="component__select" name="NAME-NG-INPUT-NYO">
            <!-- Tatawagin from the pagination.js -->
        </select>
        <span>of Y</span>
    </section>
</div>
