.sidebar {
    grid-area: 1 / 1 / 3 / 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--color-primary-dark);
    color: var(--color-background);

    height: 100%;

    border-right: 2px solid var(--color-border);

    &,
    & * {
        transition: all 0.3s ease;
    }
}

.sidebar__profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    width: 100%;

    margin-bottom: 1em;

    padding: 2em;

    border-bottom: 2px solid var(--color-border);
}

.sidebar__profile img {
    height: 6rem;
    width: 6rem;

    border-radius: var(--radius-circle);
}

.sidebar__navigation {
    flex: 1;

    display: flex;
    flex-direction: column;

    width: 100%;
}

.sidebar__navigation div {
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    height: 3.5rem;
    padding: 1em 2em;

    &.--active {
        background-color: var(--color-surface);
        color: var(--color-primary);

        box-shadow: var(--shadow-element);
    }

    &:hover {
        background-color: var(--color-primary-light);
        color: var(--color-primary);
    }
}
