<!--
COPY PASTE NYO LNG UNG IBA'T IBANG FORMAT NA KAILANGAN NYO SA SYSTEM
THEN STYLE NYO NG SARILI NYO IF NALILIITAN OR NALALAKIHAN KAYO

[ SYNTAX ================================================== ]

kopyahin nyo nalng then palitan nyo accordingly sa needs nyo
-->

<aside class="sidebar">
    <section class="sidebar__profile">
        <img src="./placeholder.png" alt="User Icon" />
        <h1>Chuckie X Chaser</h1>
    </section>

    <section class="sidebar__navigation">
        <div class="--active">
            <svg>
                <use href="./icons.svg#placeholder"></use>
            </svg>
            NAVIGATION NYO NA ACTIVE
        </div>

        <div>
            <svg>
                <use href="./icons.svg#placeholder"></use>
            </svg>
            NAVIGATION NYO
        </div>
    </section>
</aside>
