<!--
COPY PASTE NYO LNG UNG IBA'T IBANG FORMAT NA KAILANGAN NYO SA SYSTEM
THEN STYLE NYO NG SARILI NYO IF NALILIITAN OR NALALAKIHAN KAYO

[ SYNTAX ================================================== ]

kopyahin nyo nalng then palitan nyo accordingly sa needs nyo
-->

<div class="component__card">
    <section class="component__card-header">
        <svg>
            <use href="./icons.svg#placeholder"></use>
        </svg>
        <h1>CARD HEADER NYO</h1>
    </section>

    <h1>CARD DATA NYO</h1>
</div>
