<!--
COPY PASTE NYO LNG UNG IBA'T IBANG FORMAT NA KAILANGAN NYO SA SYSTEM
THEN STYLE NYO NG SARILI NYO IF NALILIITAN OR NALALAKIHAN KAYO

[ SYNTAX ================================================== ]

kopyahin nyo nalng then palitan nyo accordingly sa needs nyo

[ NOTE ================================================== ]

Kaya nyo na yan i navigate, problem lng siguro is magulo and hindi
maganda sa mata ung code... oh well kaya nyo na yan

-->

<div class="component__table">
    <table>
        <thead>
            <tr>
                <th>MGA HEADERS NYO</th>
                <!-- --- Dagdag pa kayo dito -->
                <th>ACTION HEADER NYO</th>
            </tr>
        </thead>
        <tbody>
            <!-- Copy nyo lng ung tr -->
            <tr>
                <td>ROW 1 DATAS NYO</td>
                <!-- --- Dagdag pa kayo dito -->
                <td>
                    <section class="component__table-action">
                        <button class="component__button --primary">
                            <span>PALITAN</span>
                        </button>
                        <button class="component__button --secondary">
                            <span>PALITAN</span>
                        </button>
                        <button class="component__button --critical">
                            <span>PALITAN</span>
                        </button>
                    </section>
                </td>
            </tr>

            <!-- Ito ung empty state -->
            <tr class="--empty">
                <td colspan="5">Your table is empty, try search or refreshing the page</td>
            </tr>
        </tbody>
    </table>
</div>
