<!--
COPY PASTE NYO LNG UNG IBA'T IBANG FORMAT NA KAILANGAN NYO SA SYSTEM
THEN STYLE NYO NG SARILI NYO IF NALILIITAN OR NALALAKIHAN KAYO

[ SYNTAX ================================================== ]

kayo na po bahala mag lagay ng info
-->

<div class="profile">
    <section class="profile__header">
        <div class="profile__header-image">
            <img src="./placeholder.png" alt="User Icon" />

            <button class="component__button --primary">
                <span>Upload Photo</span>
            </button>
        </div>

        <div class="profile__header-detail">
            <h1>Chuckie X Chaser</h1>

            <p>Position: <span>Operating Room Nurse</span></p>
            <p>Department: <span>Anesthetics Department</span></p>
            <p>Employment Status: <span>Regular</span></p>
            <p>Employee ID: <span>EMP-019</span></p>
        </div>
    </section>

    <section class="profile__card">
        <div class="profile__card-block">
            <h1>PERSONAL INFORMATION</h1>

            <section class="card-block__detail">
                <div class="card-block__detail-block">
                    <span class="detail-block__header">CONTACT NUMBER</span>
                    <span class="detail-block__data">09111111111</span>

                    <br />

                    <span class="detail-block__header">EMERGENCY CONTACT NUMBER</span>
                    <span class="detail-block__data">09222222222</span>
                </div>
                <div class="card-block__detail-block">
                    <span class="detail-block__header">DATE OF BIRTH</span>
                    <span class="detail-block__data">12-2-2025</span>

                    <br />

                    <span class="detail-block__header">GENDER</span>
                    <span class="detail-block__data">Straight</span>

                    <br />

                    <span class="detail-block__header">EMAIL ADDRESS</span>
                    <span class="detail-block__data">tangenamo@gmail.com</span>
                </div>
                <div class="card-block__detail-block">
                    <span class="detail-block__header">HOME ADDRESS</span>
                    <span class="detail-block__data">Blk 1 Street ng Potang ina mo Pasig City</span>
                </div>
            </section>
        </div>
        <div class="profile__card-block">
            <h1>GOVERNMENT IDENTIFICATION NUMBERS</h1>

            <section class="card-block__detail">
                <div class="card-block__detail-block">
                    <span class="detail-block__header">PAG-IBIG</span>
                    <span class="detail-block__data">PB123412313123</span>
                </div>
                <div class="card-block__detail-block">
                    <span class="detail-block__header">PHILHEALTH</span>
                    <span class="detail-block__data">PH123412313123</span>
                </div>
                <div class="card-block__detail-block">
                    <span class="detail-block__header">SSS</span>
                    <span class="detail-block__data">SSS123412313123</span>
                </div>
                <div class="card-block__detail-block">
                    <span class="detail-block__header">TIN</span>
                    <span class="detail-block__data">TIN123412313123</span>
                </div>
            </section>
        </div>
    </section>
</div>
