<!--
COPY PASTE NYO LNG UNG IBA'T IBANG FORMAT NA KAILANGAN NYO SA SYSTEM
THEN STYLE NYO NG SARILI NYO IF NALILIITAN OR NALALAKIHAN KAYO

[ SYNTAX ================================================== ]

kopyahin nyo nalng then palitan nyo accordingly sa needs nyo

[ NOTE ================================================== ]

ilagay nyo to sa baba similar ng modal, pero dapat sa taas ito ng
modal ok?
-->

<div id="tooltip" class="component__tooltip">KAHIT DI NYO NA TO LAGYAN SINCE NA MOMODIFY NAMN TO VIA SCRIPT</div>
