.component__tooltip {
    pointer-events: none;

    display: none;

    position: absolute;
    z-index: 999;

    background-color: var(--color-background);

    padding: 0.5em 1em;

    border-radius: var(--radius-inner);

    box-shadow: var(--shadow-element);
    font-size: 0.75rem;
}
