.component__modal {
    pointer-events: none;
    opacity: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    inset: 0;
    z-index: 50;

    background-color: rgba(0, 0, 0, 0.5);

    &,
    & * {
        transition: all 0.3s ease;
    }

    &.--active {
        pointer-events: auto;
        opacity: 1;
    }
}

.component__modal-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    position: relative;

    background-color: var(--color-surface);

    padding: 2em;

    border-top: 4px solid var(--color-success);
    border-radius: var(--radius-outer);
}

.component__modal-content > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    color: var(--color-success);
}

.modal-content__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-success-light);

    height: 4rem;
    width: 4rem;

    border-radius: var(--radius-circle);
}

.modal-content__icon > svg {
    height: 2rem;
    width: 2rem;
}
