<!--
COPY PASTE NYO LNG UNG IBA'T IBANG FORMAT NA KAILANGAN NYO SA SYSTEM
THEN STYLE NYO NG SARILI NYO IF NALILIITAN OR NALALAKIHAN KAYO

[ SYNTAX ================================================== ]

kopyahin nyo nalng then palitan nyo accordingly sa needs nyo

[ NAVIGATION ================================================== ]

kita nyo ung data-content na attr? Dyan nyo ilalagay ung id ng content nyo

eg if ung <div> nyo is id nya ay #settings then settings den ilalagay nyo sa
data-content ng navigation, gets?

Bakit may section pa sa loob? Doon nyo ilalagay mismo ung actual na content
nyo and yes, kayo rin ang bahalang mag configure paano layout content nyo

May config namn na yan aaditional nyo nalng

-->

<!-- *** TAB *** -->
<div id="componentTab" class="component__tab">
    <nav>
        <span class="component__tab-navigation --active" data-content="content1">TABS NYO</span>
        <span class="component__tab-navigation" data-content="content2">TABS NYO</span>
        <span class="component__tab-navigation" data-content="content3">TABS NYO</span>
        <span class="component__tab-navigation" data-content="content4">TABS NYO</span>
    </nav>
    <section>
        <div id="content1" class="component__tab-content --active">
            <section>CONTENT NYO DITO</section>
        </div>
        <div id="content2" class="component__tab-content">
            <section>CONTENT NYO DITO</section>
        </div>
        <div id="content3" class="component__tab-content">
            <section>CONTENT NYO DITO</section>
        </div>
        <div id="content4" class="component__tab-content">
            <section>CONTENT NYO DITO</section>
        </div>
    </section>
</div>
